<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Transactions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/style.css"
    />
  </head>
  <body>
    <!-- Header -->
    <header class="header" id="header"></header>
    <main class="main">
      <div class="user-view">
        <div class="user-view__content">
          <div class="user-view__form-container">
            <h2 class="heading-secondary ma-bt-md">Add new transaction</h2>
            <form class="form form-user-data" id="form">
              <div class="form__group">
                <label class="form__label" for="name">To</label>
                <input
                  class="form__input"
                  id="to"
                  type="text"
                  placeholder="Narendra Modi"
                  required="required"
                />
              </div>
              <div class="form__group ma-bt-md">
                <label class="form__label" for="email">From</label>
                <input
                  class="form__input"
                  id="from"
                  type="text"
                  placeholder="Your Name"
                  required="required"
                />
              </div>

              <div class="form-group ma-bt-md">
                <label class="form__label" for="amount">Amount</label>
                <input
                  class="form__input"
                  type="number"
                  id="amount"
                  placeholder="Enter amount"
                />
              </div>

              <div class="form-group ma-bt-md">
                <label class="form__label" for="mode">Payment mode</label>
                <select
                  class="form__input"
                  type="select"
                  id="mode"
                  placeholder="Enter mode"
                >
                  <option value="Credit Card">Credit Card</option>
                  <option value="Debit Card">Debit Card</option>
                  <option value="paytm">PayTM</option>
                </select>
              </div>
              <div class="form__group left">
                <button class="btn btn--small btn--green">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <div class="user-view__content">
          <div class="user-view__form-container">
            <div class="container">
              <h2 class="heading-secondary ma-bt-md">Your Transactions</h2>
              <br />
              <h4 class="display__inline">Sort by</h4>

              <select class="form__select" type="select" id="sortChoice"
                >Filter By
                <option value="none">None</option>
                <option value="name">Name</option>
                <option value="date">Date</option>
                <option value="amount">Amount</option>
              </select>

              <h4 class="display__inline">Filter By</h4>
              <select type="select" class="form__select" id="filterChoice">
                <option value="none">None</option>
                <option value="Debit Card">Debit Card</option>
                <option value="Credit Card">Credit Card</option>
                <option value="paytm">PayTM</option>
              </select>
            </div>

            <br /><br />
            <table class="table" id="table">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Beneficiary Name</th>
                  <th scope="col">Payment mode</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody id="tbody"></tbody>
            </table>

            <h4 class="heading-secondary ma-bt-md">
              Your Balance: <span id="balance">Rs 0.00</span>
            </h4>
          </div>
        </div>
      </div>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>
      $("table").sortable();
    </script>
    <script src="/js/transactions.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
